        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f8f9fa; /* Add your preferred background color */
        }

        .navbar {
            background-color: #343a40; /* Navbar background color */
            padding: 15px;
        }

        .navbar-brand {
            color: #ffffff; /* Navbar text color */
            font-size: 1.5rem;
            font-weight: bold;
        }

        .navbar-nav {
            margin-left: auto;
        }

        .nav-link {
            color: #ffffff !important; /* Navbar link color */
            margin-right: 15px;
        }

        .container {
            margin: 20px;
        }

        .card {
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 768px) {
            .col-sm-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .w-450 {
            max-width: 450px;
            margin: 0 auto; /* Center the element on larger screens */
        }

        .vh-100 {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bg-light {
            background-color: #ffffff; /* Add your preferred background color */
        }

        /* Add your other specific styles here */
